{% extends "Base.html" %}

{% block tittle%}Home {% endblock %}

{% block body %}
<header class="card bg-dark text-white text-center py-4">
  <h1 class="display-4">Gestion Fletes</h1>
</header>
<div class="row">
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Gestion de Conductores</h5>
        <p class="card-text text-white">Ver, Agregar, Actualizar y Eliminar conductores de la base de datos.</p>
        <a href="{% url 'registrarConductores' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Gestion de Vehiculos</h5>
        <p class="card-text text-white">Ver, Agregar, Actualizar y Eliminar vehiculos de la base de datos.</p>
        <a href="{% url 'registarVehiculos' %}" class="btn btn-success">Acceder</a>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Gestion de Ingresos y Egresos</h5>
        <p class="card-text text-white">Ver, Agregar, Actualizar y Eliminar reportes de ingresos y egresos de la base de
          datos.</p>
        <a href="https://sebastiaaann.github.io/Ingresos-y-gastos/" target="_blank" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Gestion de Mantenciones</h5>
        <p class="card-text text-white">Ver, Agregar, Actualizar y Eliminar reportes de mantenciones de la base de
          datos.</p>
        <a href="{% url 'registrarMantenciones' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Gestion de Recorridos</h5>
        <p class="card-text text-white">Ver, Agregar, Actualizar y Eliminar recorridos de la base de datos.</p>
        <a href="{% url 'homeRecorridos' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 p-4">
    <div class="card text-white bg-dark">
      <div class="card-body">
        <h5 class="card-title text-white">Balance Fletes</h5>
        <p class="card-text text-white">Graficos y datos importantes</p>
        <a href="{% url 'balance' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}