{% extends "Base.html" %}

{% block tittle%}<h1>Menu</h1> {% endblock %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        Sección
    </div>
    <div class="card-body">
      <h5 class="card-title">Gestion de Conductores</h5>
      <p class="card-text">Ver, Agregar, Actualizar y Eliminar conductores de la base de datos.</p>
      <a href="{% url 'homeConductores' %}" class="btn btn-primary">Acceder</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        Sección
    </div>
    <div class="card-body">
      <h5 class="card-title">Gestion de Vehiculos</h5>
      <p class="card-text">Ver, Agregar, Actualizar y Eliminar vehiculos de la base de datos.</p>
      <a href="{% url 'homeVehiculos' %}" class="btn btn-primary">Acceder</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        Sección
    </div>
    <div class="card-body">
      <h5 class="card-title">Gestion de Ingresos y Egresos</h5>
      <p class="card-text">Ver, Agregar, Actualizar y Eliminar reportes de ingresos y egresos de la base de datos.</p>
      <a href="#" class="btn btn-primary">Acceder</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        Sección
    </div>
    <div class="card-body">
      <h5 class="card-title">Gestion de Mantenciones</h5>
      <p class="card-text">Ver, Agregar, Actualizar y Eliminar reportes de mantenciones de la base de datos.</p>
      <a href="#" class="btn btn-primary">Acceder</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        Sección
    </div>
    <div class="card-body">
      <h5 class="card-title">Gestion de Recorridos</h5>
      <p class="card-text">Ver, Agregar, Actualizar y Eliminar recorridos de la base de datos.</p>
      <a href="#" class="btn btn-primary">Acceder</a>
    </div>
</div>
{% endblock %}