{% extends "Base.html" %}

{% block tittle%}Home {% endblock %}

{% block body %}
<header class="card bg-dark text-white text-center py-4">
  <h1 class="display-4"> Evento Deportivo</h1>
  
  <div class="col-md4">
    <img src="" alt="" />
  </div>

  <div class="col-md8 my-auto">
    <h1><strong></strong></h1>
    <h3></h3>
    <p>
      
    </p>

  </div>
</header>



<div class="row text-center">
  <div class="col-md-6 p-4">
    <div class="card bg-dark ">
      <div class="card-body ">
        <h5 class="card-title text-white">Gestion de atletas</h5>
        <p class="card-text text-white"></p>
        <a href="{% url 'registrarAtleta' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 p-4">
    <div class="card bg-dark ">
      <div class="card-body">
        <h5 class="card-title text-white">Registro Eventos</h5>
        <p class="card-text text-white"></p>
        <a href="{% url 'registrarEvento' %}" class="btn btn-success">Acceder</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- para agregar mas cards -->
</div>



{% endblock %}