{% extends "partials/gestion_layout.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Ingresos{% endblock %}

{% block gestion_header %}
        <div class="d-flex align-items-start mb-3">
            <div>
                <h2 class="mb-0">Gestion de Ingresos</h2>
            </div>
            <div class="ms-auto">
                <button form="ingresosForm" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
{% endblock %}

{% block gestion_body %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success"><strong class="text-dark"> {{message}}</strong></div>
            {% endfor %}
        {% endif %}

        <form id="ingresosForm" action="{% url 'registrarIngresos' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.valor.label_tag }}
                {% render_field form.valor class="form-control" %}
            </div>
            <div class="mb-3">
                {{ form.fecha.label_tag }}
                {% render_field form.fecha class="form-control" type="date" %}
            </div>
            <div class="mb-3">
                {{ form.recorrido.label_tag }}
                {% render_field form.recorrido class="form-control" %}
            </div>
            <div class="mb-3">
                {{ form.comentario.label_tag }}
                {% render_field form.comentario class="form-control" %}
            </div>
        </form>
    {% endblock %}

    {% block gestion_after %}
        <h5>Listado De Ingresos</h5>
        <div class="table responsive py-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>valor</th>
                        <th>fecha</th>
                        <th>recorrido</th>
                        <th>comentario</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingreso in ingresos %}
                        <tr>
                            <td>{{ingreso.ingresoID}}</td>
                            <td>{{ingreso.valor}}</td>
                            <td>{{ingreso.fecha}}</td>
                            <td>{{ingreso.recorrido.recorridoID}}</td>
                            <td>{{ingreso.comentario}}</td>
                            <td><a href ="{%url 'editarIngresos' ingreso.ingresoID %}" class = "btn btn-sm btn-outline-primary" >Editar </a></td>
                            <td><a href ="{%url 'eliminarIngresos' ingreso.ingresoID %}" class = "btn btn-sm btn-outline-danger btnEliminacion" >Eliminar </a></td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="7">No ingresos registrados.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}

    <ul class="nav flex-column">
    <li class="nav-item mb-2"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
    </ul>