{% extends "Base.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Recorridos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        {% if messages%}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <strong class="text-dark"> {{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Editar Recorrido</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrarRecorridos' recorridoID %}" method="post" class="mt-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.conductor.label_tag }}
                        {% render_field form.conductor.nombre class="form-control" %}
                    </div>
                    <div class="mb-3">
                        {{ form.vehiculo.label_tag }}
                        {% render_field form.vehiculo class="form-control" %}
                    </div>
                    <div class="mb-3">
                        {{ form.fecha.label_tag }}
                        {% render_field form.fecha class="form-control" type="date" %}
                    </div>
                    <div class="mb-3">
                        {{ form.direccionOrigen.label_tag }}
                        {% render_field form.direccionOrigen class="form-control" %}
                    </div>
                    <div class="mb-3">
                        {{ form.direccionDestino.label_tag }}
                        {% render_field form.direccionDestino class="form-control" %}
                    </div>
                    <div class="mb-3">
                        {{ form.carga.label_tag }}
                        {% render_field form.carga class="form-control" %}
                    </div>
                    <div class="mb-3">
                        {{ form.detalle.label_tag }}
                        {% render_field form.detalle class="form-control" %}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}