{% extends "partials/gestion_layout.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Recorridos{% endblock %}

{% block gestion_header %}
        <div class="d-flex align-items-start mb-3">
            <div>
                <h2 class="mb-0">Gestion de Recorridos</h2>
            </div>
            <div class="ms-auto">
                <button form="recorridosForm" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
{% endblock %}

{% block gestion_body %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success"><strong class="text-dark"> {{message}}</strong></div>
            {% endfor %}
        {% endif %}

        <form id="recorridosForm" action="{% url 'registrarRecorridos' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">{{ form.conductor.label_tag }}{% render_field form.conductor class="form-control" %}</div>
            <div class="mb-3">{{ form.vehiculo.label_tag }}{% render_field form.vehiculo class="form-control" %}</div>
            <div class="mb-3">{{ form.fecha.label_tag }}{% render_field form.fecha class="form-control" type="date" %}</div>
            <div class="mb-3">{{ form.direccionOrigen.label_tag }}{% render_field form.direccionOrigen class="form-control" %}</div>
            <div class="mb-3">{{ form.direccionDestino.label_tag }}{% render_field form.direccionDestino class="form-control" %}</div>
            <div class="mb-3">{{ form.carga.label_tag }}{% render_field form.carga class="form-control" %}</div>
            <div class="mb-3">{{ form.detalle.label_tag }}{% render_field form.detalle class="form-control" %}</div>
        </form>
    {% endblock %}

    {% block gestion_after %}
        <h5>Listado De Recorridos</h5>
        <div class="table responsive py-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>conductor</th>
                        <th>vehiculo</th>
                        <th>Fecha</th>
                        <th>direccionOrigen</th>
                        <th>direccionDestino</th>
                        <th>carga</th>
                        <th>detalle</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recorrido in recorridos %}
                        <tr>
                            <td>{{recorrido.recorridoID}}</td>
                            <td>{{recorrido.conductor.nombre}}</td>
                            <td>{{recorrido.vehiculo.patente}}</td>
                            <td>{{recorrido.fecha}}</td>
                            <td>{{recorrido.direccionOrigen}}</td>
                            <td>{{recorrido.direccionDestino}}</td>
                            <td>{{recorrido.carga}}</td>
                            <td>{{recorrido.detalle}}</td>
                            <td><a href ="{%url 'editarRecorridos' recorrido.recorridoID %}" class = "btn btn-sm btn-outline-primary" >Editar </a></td>
                            <td><a href ="{%url 'eliminarRecorridos' recorrido.recorridoID %}" class = "btn btn-sm btn-outline-danger btnEliminacion" >Eliminar </a></td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="11">No recorridos registrados.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}

{% endblock %}