{% extends "Base.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Conductores {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4 ">
        <h2>Edicion de conductores</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form action="{% url 'editarConductores' conductorID %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.rut.label_tag }}
                        {% render_field form.rut class="form-control" placeholder="Ej: 12345678-9" minlength="10" maxlength="10" %}
                        {{form.rut.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.nombre.label_tag }}
                        {% render_field form.nombre class="form-control" maxlength="30" %}
                        {{form.nombre.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.apellido.label_tag }}
                        {% render_field form.apellido class="form-control" maxlength="30" %}
                        {{form.apellido.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.fechaNacimiento.label_tag }}
                        {% render_field form.fechaNacimiento class="form-control" type="date" %}
                        {{form.fechaNacimiento.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.direccion.label_tag }}
                        {% render_field form.direccion class="form-control" maxlength="100" %}
                        {{form.direccion.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.licencia.label_tag }}
                        {% render_field form.licencia class="form-control" placeholder="Ej:12345678-9" minlength="10" maxlength="10" %}
                        {{form.licencia.errors}}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}