{% extends "Base.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Atletas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2 >Registro de atletas</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrarAtleta' %}" method="POST">
                    {% csrf_token %}
                    <!-- Aquí van los campos del formulario para el atleta -->
                    <div class="mb-3">
                        {{ form.rut.label_tag }}
                        {% render_field form.rut class="form-control" placeholder="Ej: 12.345.678-K"  maxlength="12" %}
                        {{form.rut.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.nombre.label_tag }}
                        {% render_field form.nombre class="form-control" maxlength="30" %}
                        {{form.nombre.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.apellido.label_tag }}
                        {% render_field form.apellido class="form-control" maxlength="30" %}
                        {{form.apellido.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.disciplina.label_tag }}
                        {% render_field form.disciplina class="form-control" maxlength="30" %}
                        {{form.disciplina.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.sexo.label_tag }}
                        {% render_field form.sexo class="form-control" %}
                        {{form.sexo.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.preferencias_competencia.label_tag }}
                        {% render_field form.preferencias_competencia class="form-control" %}
                        {{form.preferencias_competencia.errors}}
                    </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de atletas</h1>
        <div class="table responsive py-2">
            <table class="table table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                         <!-- Aquí van los nombres de los campos del atleta -->
                        <th scope="col">ID</th>                      
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Disciplina</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Preferencias de Competencia</th>
                        <th colspan="3" scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atleta in atletas %}
                    <tr>
                        <td>{{atleta.atletaID}}</td>
                        <!-- Aquí van los valores de los campos del atleta -->
                        <td>{{atleta.rut}}</td>
                        <td>{{atleta.nombre}}</td>
                        <td>{{atleta.apellido}}</td>
                        <td>{{atleta.disciplina}}</td>
                        <td>{{atleta.get_sexo_display}}</td>
                        <td>{{atleta.preferencias_competencia}}</td>
                        <td><a href="{% url 'editarAtleta' atleta.atletaID %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'eliminarAtleta' atleta.atletaID %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        <td><a href="{% url 'exportar_atletas_excel'  %}" class="btn btn-info">Descargar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}