{% extends "partials/gestion_layout.html" %}

{% load widget_tweaks %}

{% block tittle%}Gestion de Vehiculos{% endblock %}

{% block gestion_header %}
        <div class="d-flex align-items-start mb-3">
            <div>
                <h2 class="mb-0">Editar Vehiculo</h2>
            </div>
            <div class="ms-auto">
                <button form="editarVehiculoForm" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
{% endblock %}

{% block gestion_body %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form id="editarVehiculoForm" action="{% url 'edicionVehiculos' vehiculoID %}" method="post">
            {% csrf_token %}
            <div class="mb-3">{{ form.patente.label_tag }}{% render_field form.patente class="form-control" placeholder="Ej: AABB11" minlength="6" maxlength="6" %}{{form.patente.errors}}</div>
            <div class="mb-3">{{ form.marca.label_tag }}{% render_field form.marca class="form-control" maxlength="30" %}{{form.marca.errors}}</div>
            <div class="mb-3">{{ form.modelo.label_tag }}{% render_field form.modelo class="form-control" maxlength="50" %}{{form.modelo.errors}}</div>
            <div class="mb-3">{{ form.fechaAdquisicion.label_tag }}{% render_field form.fechaAdquisicion class="form-control" type="date" %}{{form.fechaAdquisicion.errors}}</div>
            <div class="mb-3">{{ form.estado.label_tag }}{% render_field form.estado class="form-control" %}{{form.estado.errors}}</div>
            <div class="mb-3">{{ form.comentario.label_tag }}{% render_field form.comentario class="form-control" %}{{form.comentario.errors}}</div>
        </form>
    {% endblock %}