{% extends "Base.html" %}

{% load widget_tweaks %}

{% block tittle %}Gestion de Vehiculos{% endblock %}

{% block body %}
<div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestion de Vehiculos</h2>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == "error"%}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registarVehiculos' %}" method="post" class="mt-3">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.patente.label_tag }}
                        {% render_field form.patente class="form-control" %}
                        {{form.patente.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.marca.label_tag }}
                        {% render_field form.marca class="form-control" %}
                        {{form.marca.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.modelo.label_tag }}
                        {% render_field form.modelo class="form-control" %}
                        {{form.modelo.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.fechaAdquisicion.label_tag }}
                        {% render_field form.fechaAdquisicion class="form-control" type="date" %}
                        {{form.fechaAdquisicion.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.estado.label_tag }}
                        {% render_field form.estado class="form-control" %}
                        {{form.estado.errors}}
                    </div>
                    <div class="mb-3">
                        {{ form.comentarios.label_tag }}
                        {% render_field form.comentarios class="form-control" %}
                        {{form.comentarios.errors}}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class=" col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado De Vehiculos</h1>
        <div class="table responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Patente</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Fecha Adquisicion</th>
                        <th>Estado</th>
                        <th>Comentarios</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehiculo in vehiculos %}
                    <tr>
                        <td>{{vehiculo.vehiculoID}}</td>
                        <td>{{vehiculo.patente}}</td>
                        <td>{{vehiculo.marca}}</td>
                        <td>{{vehiculo.modelo}}</td>
                        <td>{{vehiculo.fechaAdquisicion}}</td>
                        <td>{{vehiculo.estado}}</td>
                        <td>{{vehiculo.comentarios}}</td>
                        <td><a href="{% url 'edicionVehiculos' vehiculo.vehiculoID %}"
                                class="btn btn-primary">Editar</a></td>
                        <td><a href="{% url 'eliminarVehiculos' vehiculo.vehiculoID %}"
                                class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}