{% extends "Base.html" %}

{% block tittle%}Gestion de Fletes {% endblock %}

{% block body %}
<div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestion de Vehiculos</h2>
        {% if messages%}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark"> {{message}}</strong>
        </div>

        {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrarVehiculo' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="1" 
                        maxlength="7" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" 
                        maxlength="50" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" id="txtModelo" name="txtModelo" class="form-control" placeholder="Modelo" 
                        maxlength="50" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="numPatente" name="numPatente" class="form-control"  minlength="6" placeholder="Patente" 
                        maxlength="6" required>
                    </div>

                    <div class="form-group">
                        <label for="txtFechaUltimoMant">Fecha Último Adquisicion:</label>
                        <input type="date" id="txtfechaAdquisicion" name="txtfechaAdquisicion" class="form-control"  
                        maxlength="60" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="txtFechaUltimoMant">Fecha Último Mantenimiento:</label>
                        <input type="date" id="txtFechaUltimoMant" name="txtFechaUltimoMant" class="form-control" 
                        maxlength="60" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" id="txtOtrosDetalles" name="txtOtrosDetalles" class="form-control" placeholder="Detalles" 
                        maxlength="60" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" id="txtEstado" name="txtEstado" class="form-control" placeholder="Estado (Activo/Inactivo)" 
                        maxlength="60" required>
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white">Guardar</button>
                        
                    </div>
                </form>

            </div>

        </div>

    </div>

    <div class=" col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado De Vehiculos</h1>
        <div class="table responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Modelo</th>
                        <th>Patente</th>
                        <th>fechaAdquisicion</th>
                        <th>FechaUltimoMant</th>
                        <th>OtrosDetalles</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    {% for v in vehiculos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{v.codigo}}</td>
                        <td>{{v.nombre}}</td>
                        <td>{{v.modelo}}</td>
                        <td>{{v.patente}}</td>
                        <td>{{v.fechaAdquisicion}}</td>
                        <td>{{v.fechaUltimoMant}}</td>
                        <td>{{v.otrosDetalles}}</td>
                        <td>{{v.estado}}</td>
                        <td><a href="edicionVehiculo/{{v.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="delVehiculo/{{v.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>

    </div>

    

</div>
{% endblock %}