{% extends "Base.html" %}
{% block title %}Iniciar Sesión{% endblock %}
{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
            {% if messages %}
              <div class="mt-4">
                {% for message in messages %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" {% if field.field.required %}required{% endif %}>
                </div>
              {% endfor %}
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
              </div>
            </form>
            <div class="text-center mt-3">
              <p class="mb-0">¿No tienes una cuenta?</p>
              <a class="btn btn-success" href="{% url 'registro' %}" role="button">Registrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}