{% extends "Base.html" %}

{% block title %}Usuario Desconectado{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="mb-4">Usuario Desconectado</h1>
            {% if messages %}
              <div class="mt-4">
                {% for message in messages %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}